.dropDown {
  position: absolute;
  z-index: 10;
  background-color: #eeeeee;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  border: solid 1px black;
  padding: 5px;
  margin: 2px;
}

.dropDownItem {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}
